.container {
  height: 100%;
  padding: 0 1.4375rem;
}

.back {
  display: flex;
  padding: 0.625rem 0;
  margin-bottom: 1.8125rem;
}

.back img {
  cursor: pointer;
}

.content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.375rem;
}
