.info {
  padding: 0 1.6875rem;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  margin-bottom: 1.75rem;
}

.location {
  font: var(--title-md-2);
  color: var(--grey-scale-75);
}

.amount {
  display: flex;
  align-items: center;
  font: var(--text-md-emphasis);
  color: var(--skyblue);
}

.symbol {
  margin-right: 0.25rem;
}

.longArrow {
  margin: 0 0.5rem;
}

.guide {
  display: flex;
  justify-content: space-between;
  background: var(--grey-scale-10);
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
}

.guideText {
  padding: 25px 0 25px 28px;
  margin-right: 25px;
  flex: 1;
  font: var(--text-md);
  color: var(--grey-scale-40);
  overflow: hidden;
  text-overflow: ellipsis;
}

.guideButton {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.75rem 0.75rem 0;
  background: var(--grey-scale-10);
  cursor: pointer;
}

.guideButton:active {
  filter: brightness(0.8);
}

/* .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
} */
