.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}

.info {
  text-align: center;
  margin-top: 14px;
  color: var(--grey-scale-60);
  font: var(--caption-md);
  letter-spacing: var(--caption-md-letter-spacing);
}

.reset {
  margin-left: 8px;
  color: var(--primary-skyblue);
  font: var(--button-text-sm);
  letter-spacing: var(--button-text-sm-letter-spacing);
  text-decoration: none;
}
