.button {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--grey-scale-0);
  border: 1px solid var(--grey-scale-20);
  cursor: pointer;
}

.button:active {
  filter: brightness(0.8);
}

.icon {
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  text-align: center;
  color: var(--grey-scale-90);
  font: var(--button-text-md);
  letter-spacing: var(--button-text-md-letter-spacing);
}

@media screen and (max-width: 400px) {
  .button {
    padding: 12px 16px;
  }

  .text {
    font: var(--button-text-sm);
    letter-spacing: var(--button-text-sm-letter-spacing);
  }

  .icon img {
    width: 20px;
  }
}
