.login {
  position: relative;
  height: 100%;
  padding: 0 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.umbrella {
  position: absolute;
  right: -5px;
  top: 50px;
  text-align: right;
  animation: login-slidein-right-to-left 1s;
}

.dim {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0;
  top: -50px;
  background: linear-gradient(
    156.5deg,
    #ffffff 37.5%,
    rgba(255, 255, 255, 0) 69.57%
  );
  mix-blend-mode: normal;
}

.top {
  height: 65%;
  z-index: 1;
}

.logo {
  padding: 13px 0;
  margin-bottom: 29px;
}

.bottom {
  flex: 1;
  animation-duration: 1s;
  animation-name: login-slidein-bottom-to-top;
}

.login_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.info {
  text-align: center;
  margin-top: 14px;
  color: var(--grey-scale-60);
  font: var(--caption-md);
  letter-spacing: var(--caption-md-letter-spacing);
}

.signUp {
  margin-left: 8px;
  color: var(--primary-skyblue);
  font: var(--button-text-sm);
  letter-spacing: var(--button-text-sm-letter-spacing);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .umbrella img {
    width: 80%;
  }
}

@keyframes login-slidein-right-to-left {
  0% {
    transform: translateX(400px) rotate(60deg);
  }

  50% {
    transform: translateX(400px) rotate(60deg);
  }

  80% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes login-slidein-bottom-to-top {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(100%);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
